#top-bar {
  background-color: green;
  color: white;
  font-size: xx-large;
  font-weight: 900;
  padding: 10px;
}

#search-section{
    margin-top: 10px;
    padding: 10px;
}
#search-section   input{
    padding: 12px 12px;
    margin: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

#search-section span{
    background-color: rgb(77, 115, 77);
    padding: 5px 10px;
    margin: 0px 5px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    
}

#search-section span:hover{
    background-color:rgba(77, 115, 77, 0.5);
}